@font-face {
  font-family: "Poppins";
  src: url("Poppins-Regular.ttf") format("opentype");
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif, "Courier New", Courier, monospace;
  color: black;
}

#root {
  width: 100%;
  height: 100%;
}
